<Root>
	<!-- License key for running.                                                     -->
	<!-- For example: XXXX-XXXX-XXXX-XXXX-XXXX                                        -->
	<License>1031-6800-6732-1714-5786</License>
	
	<!-- Requests will be distributed between the servers using                       -->
	<!-- a weighted round-robin balancing method.                                     -->
	<Target>
		<!-- weight:      By default, 1.                                              -->
		<!-- timeout:     By default, 10 (seconds).                                   -->
		<!-- maxFailures: By default, 0, which disables the accounting of attempts.   -->
		<!-- masks:                                                                   -->
		<!--     backup: Used when the primary servers are unavailable.               -->
		<!--     down:   Marks the server as permanently unavailable.                 -->
		<Server name="ORIGIN">192.168.2.51</Server>
		<Server name="WEB">192.168.2.51</Server>
		<Server name="RES">studease.cn</Server>
	</Target>
	
	<RTMP>
		<Server>
			<Listen>1935</Listen>
			
			<!-- Specifies how long to wait before timing out an outgoing connection  -->
			<!-- in milliseconds, by default, 10.                                     -->
			<Timeout>10</Timeout>
			
			<!-- How long a client can be idle before it is disconnected.             -->
			<!-- Specified in seconds. By default, 3600 (1 hour).                     -->
			<MaxIdleTime>3600</MaxIdleTime>
			
			<SendBufferSize>65536</SendBufferSize>
			<ReadBufferSize>65536</ReadBufferSize>
			<Root>applications</Root>
			<Cors>webroot/crossdomain.xml</Cors>
			<Target>conf/target.xml</Target>
			
			<!-- Specifies the RTMP chunk size to use. This can have a minimum value  -->
			<!-- of 128 (bytes) and	a maximum value of 65536 (bytes).                 -->
			<ChunkSize>4096</ChunkSize>
			
			<Location pattern="/live/">
				<Handler>rtmp-live</Handler>

				<OnOpen enable="false">http://${SERVER.WEB}/data/onOpen.json</OnOpen>
				<OnClose enable="false">http://${SERVER.WEB}/data/onClose.json</OnClose>
				<OnPublish enable="false">http://${SERVER.WEB}/data/onPublish.json</OnPublish>
				<OnPublishDone enable="false">http://${SERVER.WEB}/data/onPublishDone.json</OnPublishDone>
				<OnPlay enable="false">http://${SERVER.WEB}/data/onPlay.json</OnPlay>
				<OnPlayDone enable="false">http://${SERVER.WEB}/data/onPlayDone.json</OnPlayDone>
				
				<DVR id="dvr1">
					<Name>flv</Name>
					<Mode>all</Mode>
					<Directory>webroot/vod/${INSTANCE}</Directory>
					<FileName>${STREAM}</FileName>
					<Seekable>true</Seekable>
					<Unique>false</Unique>
					<Append>false</Append>
					<MaxDuration>0</MaxDuration>
					<MaxSize>0</MaxSize>
					<MaxFrames>0</MaxFrames>
					
					<OnRecord enable="false">http://${SERVER.WEB}/data/onRecord.json</OnRecord>
					<OnRecordDone enable="false">http://${SERVER.WEB}/data/onRecordDone.json</OnRecordDone>
				</DVR>
				
				<DVR id="dvr2">
					<Name>fmp4</Name>
					<Mode>all,low-latency</Mode>
					<Directory>webroot/vod/${INSTANCE}</Directory>
					<File>${STREAM}</File>
					<MaxDuration>2000</MaxDuration>
				</DVR>
				
				<Proxy enable="false">rtmp://${SERVER.ORIGIN}/${APPLICATION}/${INSTANCE}/${STREAM}</Proxy>
			</Location>
		</Server>
	</RTMP>
	
	<HTTP>
		<Server>
			<Listen>80</Listen>
			
			<!-- Specifies how long to wait before timing out an outgoing connection  -->
			<!-- in milliseconds, by default, 10.                                     -->
			<Timeout>10</Timeout>
			
			<!-- How long a client can be idle before it is disconnected.             -->
			<!-- Specified in seconds. By default, 65 (seconds).                      -->
			<MaxIdleTime>65</MaxIdleTime>

			<SendBufferSize>65536</SendBufferSize>
			<ReadBufferSize>65536</ReadBufferSize>
			<Root>webroot</Root>
			<Cors>webroot/crossdomain.xml</Cors>
			
			<SSL enable="true">
				<Cert>certs/cert.pem</Cert>
				<Key>certs/privkey.pem</Key>
			</SSL>
			
			<Location pattern="/">
				<Handler>http-file</Handler>
			</Location>
			
			<Location pattern="/live/">
				<Handler>http-live</Handler>
			</Location>
			
			<Location pattern="/chat/">
				<Handler>ws-chat</Handler>
				<Protocol>binary</Protocol>

				<Channel pattern="/">
					<OnOpen enable="true">http://${SERVER.WEB}/data/onUserInfo.json</OnOpen>
					<OnClose enable="true">http://${SERVER.WEB}/data/onClose.json</OnClose>

					<Capacity>0</Capacity>
					<Notification>reserved4</Notification>

					<Group>
						<Capacity>1000</Capacity>
						<Notification>none</Notification>
					</Group>

					<UserList enable="true">
						<Interval>30</Interval>
					</UserList>

					<Visitor enable="true">
						<Seed>999</Seed>
						<Name>游客%03d</Name>
						<Role>0</Role>
						<Icon>/images/icon/visitor.png</Icon>
					</Visitor>

					<Proxy enable="false">http://${SERVER.TRACKER}/${PATTERN}/${PATH}${PARAMETERS}</Proxy>
				</Channel>

				<Query enable="true">
					<Name>sqlite3</Name>
					<File>DATA.db</File>
					<History>0</History>
				</Query>
			</Location>
			
			<Location pattern="/rtmp/control/">
				<Handler>rtmp-control</Handler>
			</Location>
			
			<Location pattern="/images/">
				<Handler>http-proxy</Handler>
				<Proxy enable="false">http://${SERVER.RES}/${PATH}${PARAMETERS}</Proxy>
			</Location>
		</Server>
	</HTTP>
	
	<RTSP>
		<Server>
			<Listen>554</Listen>
			
			<!-- Specifies how long to wait before timing out an outgoing connection  -->
			<!-- in milliseconds, by default, 10.                                     -->
			<Timeout>10</Timeout>
			
			<!-- How long a client can be idle before it is disconnected.             -->
			<!-- Specified in seconds. By default, 65 (seconds).                      -->
			<MaxIdleTime>65</MaxIdleTime>

			<SendBufferSize>65536</SendBufferSize>
			<ReadBufferSize>65536</ReadBufferSize>
			<Root>webroot</Root>
			<Cors>webroot/crossdomain.xml</Cors>
			
			<Location pattern="/live/">
				<Handler>rtsp-live</Handler>

				<OnPlay enable="false">http://${SERVER.WEB}/data/onPlay.json</OnPlay>
				<OnPlayDone enable="false">http://${SERVER.WEB}/data/onPlayDone.json</OnPlayDone>
				
				<Proxy enable="false">rtsp://${SERVER.ORIGIN}/${APPLICATION}/${INSTANCE}/${STREAM}</Proxy>
			</Location>
		</Server>
	</RTSP>
	
	<TURN>
		<Server>
			<Listen>3478</Listen>
			
			<!-- Specifies how long to wait before timing out an outgoing connection  -->
			<!-- in milliseconds, by default, 10.                                     -->
			<Timeout>10</Timeout>
			
			<!-- How long a client can be idle before it is disconnected.             -->
			<!-- Specified in seconds. By default, 65 (seconds).                      -->
			<MaxIdleTime>65</MaxIdleTime>

			<SendBufferSize>65536</SendBufferSize>
			<ReadBufferSize>65536</ReadBufferSize>
			<Root>webroot</Root>
			<Cors>webroot/crossdomain.xml</Cors>
			<REALM>localhost</REALM>
			
			<Location pattern="/live/">
				<Handler>turn-live</Handler>
				
				<OnPlay enable="false">http://${SERVER.WEB}/data/onPlay.json</OnPlay>
				<OnPlayDone enable="false">http://${SERVER.WEB}/data/onPlayDone.json</OnPlayDone>
			</Location>
		</Server>
	</TURN>
</Root>
